@font-face {
    font-family: "mifuente";
    src: url('Organa-Light.eot');
    src: local('Organa Light'), local('Organa-Light'),
        url('Organa-Light.eot?#iefix') format('embedded-opentype'),
        url('Organa-Light.woff2') format('woff2'),
        url('Organa-Light.woff') format('woff'),
        url('Organa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.main{
    background: #f2f2f2;
}
.color1{
    background: #34495e;
    color: #fff;
}
aside{
    background: #c0392b;
    color: #fff;
}
footer{
    background: #16a085;
    color: #fff;
}
h2{
    text-align: right;
    font-family: "mifuente";
}
